html {
  scroll-padding-top: 60px;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  display: grid;
  justify-content: center;
  text-align: start;

  grid-template-areas:
    "nav"
    "header"
    "products"
    "signup"
    "financials"
    "about-us"
    "footer";

  width: 80%;
  margin: 0 auto;
  gap: 1em;
}

#products {
  grid-area: products;
}

#financials {
  grid-area: financials;
  overflow-x: hidden;
}
nav {
  grid-area: nav;
  background-color: black;
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
nav ul,
footer p {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 1em;
  list-style: none;
  margin-left: 10%;
}
nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
nav ul li :hover {
  color: red;
  text-decoration: underline;
  padding: 10px;
}
header {
  background-color: lightgrey;
  justify-items: center;
  font-weight: bolder;
  border-radius: 0 0 10px 10px;
  margin-top: 40px;
  padding: 25px;
}
header h2 {
  text-transform: uppercase;
}
header span {
  font-style: italic;
}
.img {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

hr {
  display: none;
}
#signup {
  grid-area: signup;
  background-color: lightgray;
  border-radius: 5px;
}
#signup {
  text-align: center;
}
#signup form {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 2fr;
  grid-template-areas:
    ". namel namei ."
    " . emaill emaili ."
    ".  foo button .";

  grid-auto-flow: column;

  align-items: center;
  text-align: center;
}
label {
  text-align: right;
}
input {
  box-shadow: 5px 5px 5px black;
  border-radius: 5px;
  margin-bottom: 3px;
}

label[for="Name"] {
  grid-area: namel;
}
input#Name {
  grid-area: namei;
}
label[for="Email"] {
  grid-area: emaill;
}
input[id="Email"] {
  grid-area: emaili;
}
#signup form button {
  background-color: lightgrey;
  border-radius: 2px;
  grid-area: button;
  width: 60%;
  justify-self: center;
  margin-bottom: 1em;
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
  display: flex;
}
#financials h1 {
  text-align: center;
}
.table-container table {
  width: auto;
  min-width: 800px;
  border-collapse: collapse;
}
td {
  text-align: right;
}
th,
td:nth-child(1) {
  text-align: center;
}
tfoot td:nth-child(1) {
  text-align: end;
  font-weight: bold;
}
td,
th {
  border: 1px solid black;
  justify-self: end;
  text-align: center;
}
tbody tr td:last-child,
tfoot tr td:last-child {
  color: red;
}
tr:nth-child(odd):not(:last-child) {
  background-color: plum;
}
#financials tr:hover {
  background-color: blue;
}
#about-us {
  grid-area: about-us;
  margin-bottom: 4em;
}

footer {
  background-color: black;
  color: white;
  text-align: center;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
h2 {
  text-align: left;
}

@media (min-width: 800px) {
  .img-container {
    display: flex;
    flex-direction: row;
  }
  img,
  video {
    width: 100%;
    height: auto;
  }
  hr {
    display: block;
    font-weight: bolder;

    margin: 10px;
  }
  .table-container {
    display: flex;
    justify-content: center;
  }
  .table-container table {
    width: 80%;
    min-width: 800px;
  }
  #signup form {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 16px;
  }
  #signup form button {
    all: revert;
  }
}
