html{
    background-color: grey;
}
body{
    background-color: white;
      max-width: 800px;
}
.box{
    background-color: yellow;
    color: blue;
    width: 150px;
    text-align: center;
    border: 1px solid black;
    margin: 40px 40px 40px ;
    /*float: left;*/
    display: inline-block;
}