html{
    background-color: white;
}
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    
}
body{
   
    background-color:beige;
    margin: 0 auto;

}

header  {
    color:aqua;
    font-size: 2em;
    text-align: center;
    
}
.navbar{
text-align: center;
margin: 15px 0;
color:blue;
}
.navbar a:hover{
    color: brown;
    
}


main{
    text-align: center;
    color:darkred;
    margin: 40px auto;
    
    font-size: 1.5em;
  
}
#copyright{
    color: black;
    text-align: center;
}
header img {
    border-radius: 100px;
    
}
.error{
    background-color: red;
}


